@font-face {
    font-family: Roboto-Medium;
    src: url("./assets/Roboto/Roboto-Light.ttf");
   }
   @font-face {
    font-family: bold;
    src: url("./assets/Roboto/Roboto-Bold.ttf");
   }
   *{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./assets/white-background-with-3d-hexagonal-pattern-design_1017-28443.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
    align-items: center;
    font-family: "Roboto-Medium";
}
img{
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 35px;
    opacity: 0.9;
    height: auto;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 100vh;
    background-color: rgba(0,0, 0 ,0.3);
}
div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin-bottom: 40px;
}

input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 20px;
}

input::placeholder{
    font-size: 15px;
}
p{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
a{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
button{
    height: 35px;
    width: 120px;
    border-radius: 5px;;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
}
#error{
    margin-top: 7px;
    color: transparent;
    /* font-family: bold; */
    font-size: 15px;
    margin-bottom: 20px;
}
.password{
    position: absolute;
}
.visibilityIcon{
    position: relative;
    width: 15px;
    height: 15px;
    left: 113px;
    bottom: 22px;
 }